body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(236, 236, 236);
}

.game {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game>div {
  border: 6px solid #ff0000;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 5px solid #424242;
  background-color: #242424;
  color: white;
  margin-top: 10px;
  padding: 10px 20px
}

.game > div.winner {
  background: rgb(189, 17, 17);
}

.game > div.winner > span {
  color: rgb(78, 149, 255);
}

@media (min-width: 600px) {
  .game {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 6px solid #000000;
  }

  .game>div {
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer
  }
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(26, 26, 26);
  font-size: 75px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(26, 26, 26);
  font-size: 55px;
}

p1 {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 255, 255);
}
